#DetailToolbar {
	background-color: $colourOfToolbar;
	color: white;
	padding: 0.5rem;
}

#DetailContent {
	max-width: 600px;
	margin: 0 auto;
	padding: 1rem;
}

.DetailBlock {
	background-color: white;
	padding: 1rem;
	border-radius: 1rem;
	line-height: 1.5rem;
}

#CurrentItemHeading {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1rem;
	font-size: 1.2rem;
	display: inline-block;
}